@import "../../../styles/variables.scss";

// =========================
// Carousel
// =========================

:host {
  flex: 1;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  height: 70%;
  object-fit: cover;
  // zoom effect on hover
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.25);
}

// =========================
// Next and Prev buttons
// =========================
.control {
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $bg-track;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  // opacity effect on hover
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:hover,
  &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
    padding: 0.1em 0.15em 0.1em 0.5em;
  }

  &.prev {
    left: 0;
    padding: 0.1em 0.5em 0.1em 0.15em;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid $bg-track;
  border-bottom: 0.1em solid $bg-track;
  width: 0.2em;
  height: 0.2em;

  &.left {
    transform: rotate(45deg);
  }

  &.right {
    transform: rotate(225deg);
  }
}

@media (min-width: 600px) {
  .slide {
    height: 97%;
  }
}