<section class="header-desktop">
  <div class="header-theme">
    <div *ngIf="theme == 'light'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button (click)="setNewTheme(theme)">
        <img class="moon" src="../../../assets/images/icon-moon.svg" alt="moon"
          srcset="../../../assets/images/icon-moon.svg">
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button (click)="setNewTheme(theme)">
        <img class="sun" src="../../../assets/images/icon-sun.svg" alt="sun"
          srcset="../../../assets/images/icon-sun.svg">
      </button>
    </ng-template>
  </div>
  <ng-container *transloco="let t">
    <div class="content-list">
      <ul>
        <li>
          <a href="#profile">
            {{t("menu.home")}}
          </a>
        </li>
        <li>
          <a href="#experience">
            {{t("menu.experience")}}
          </a>
        </li>
        <li>
          <a href="#projects">
            {{t("menu.projects")}}
          </a>
        </li>
      </ul>
    </div>
  </ng-container>
  <app-language-dropdown></app-language-dropdown>
</section>