@import "../../../styles/colors.scss";

.email-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 26px;
  align-items: center;
  cursor: pointer;
}

.email-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.email-section {
  display: flex;
  height: 26px;
  margin-top: -2px;
  flex-direction: row;
  align-items: center;
  border-radius: 9px 0 0 9px;
  border: 2px solid $main-color;
  gap: 7px;

  span {
    margin-left: 9px;
    font-size: .625rem;
    font-weight: bold;
  }

  .email-send {
    background-color: $main-color;
    width: 26px;
    height: 28px;
    border-radius: 7px 0 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-right: -1px;

    img {
      width: 12px;
      height: 12px;
      transition: transform .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.email-box {
  background-color: $main-color;
  width: 26px;
  height: 30px;
  border-radius: 0 7px 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;

  img {
    width: 12px;
    height: 12px;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

  }
}

.email-msg {
  position: absolute;
  top: -30px;
  right: -3px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .4s;

  span {
    font-size: .6rem;
    font-weight: bold;
  }
}