@import "../../../styles/variables.scss";

.header-mobile {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 32px;
}

.menu-mobile {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu-background {
  position: fixed;
  z-index: 2;
  width: 20%;
  height: 100%;
  background-color: $bg-track;
  top: 0;
  left: 0;
}

.menu-mobile-section {
  position: fixed;
  z-index: 2;
  width: calc(80% - 40px);
  height: 100%;
  background-color: $primary;
  top: 0;
  left: 20%;
  padding: 25px 20px;

  .menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    align-items: flex-start;

    p {
      margin: 0;
    }
  }

  .close-icon {
    rotate: 45deg;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile-icon {
      width: 52px;
      height: 52px;
    }

    .content-title {
      font-size: $font-size-medium;
      margin-bottom: 35px;
    }

    .content-mail {
      margin-bottom: 65px;
    }

    .content-list {
      display: flex;
      align-self: baseline;

      ul {
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;

        li a {
          font-size: $font-size-base;
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (min-width: 501px) {

  .header-mobile,
  .menu-mobile {
    display: none;
  }
}