<div class="header-mobile-container">
  <div class="header-theme">
    <div *ngIf="theme == 'light'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button (click)="setNewTheme(theme)">
        <img src="../../../assets/images/icon-moon.svg" alt="menu" srcset="../../../assets/images/icon-moon.svg">
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button (click)="setNewTheme(theme)">
        <img src="../../../assets/images/icon-sun.svg" alt="menu" srcset="../../../assets/images/icon-sun.svg">
      </button>
    </ng-template>
  </div>

  <div id="menuToggle">
    <input type="checkbox" name="showMenu" (click)="showMobileMenu()" [checked]="enableMobileMenu" />
    <span></span>
    <span></span>
    <span></span>
    <section id="menu">
      <div class="menu-header">
        <app-language-dropdown></app-language-dropdown>
      </div>
      <ng-container *transloco="let t">
        <div class="menu-content">
          <img class="profile-icon" src="../../../assets/images/icon-profile.svg" alt="menu"
            srcset="../../../assets/images/icon-profile.svg">
          <h2 class="content-title">{{t("profile.fullName")}}</h2>
          <div class="content-mail">
            <app-email></app-email>
          </div>
          <div class="content-list">
            <ul>
              <li>
                <a href="#projects" (click)="showMobileMenu()">
                  {{t("menu.home")}}
                </a>
              </li>
              <li>
                <a href="#experience" (click)="showMobileMenu()">
                  {{t("menu.experience")}}
                </a>
              </li>
              <li>
                <a href="#projects" (click)="showMobileMenu()">
                  {{t("menu.projects")}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </section>
  </div>
</div>