@import "./styles/variables.scss";

body {
  background-color: $primary;
  color: $text-color;
  margin: 0;
  padding: 25px 20px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  width: calc(100% - 40px);
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: $text-color;
  text-decoration: none;
}

@media (min-width: 600px) {
  body {
    overflow-x: none;
    width: 745px;
    margin: 0 auto;
  }
}