@import "../../../styles/variables.scss";

.footer {
  margin-top: 85px;

  h3 {
    font-size: $font-size-normal;
    text-align: center;
  }

  &>div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    p {
      margin: 0 0 20px 0;
      font-size: $font-size-small;
      text-align: center;

      a {
        color: $main-color;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 5px auto;

  a {
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}