@import "../../../styles/variables.scss";

.job-card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px; // Depende del diametro del circulo

    .circle {
      background-color: $main-color;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      top: 6px
    }

    .first {
      margin-top: 6px;
      top: 0px
    }

    .line {
      width: 2px;
      height: 100%;
      background-color: $line-color;
    }

    .firstLine {
      width: 2px;
      height: 100%;
      background-color: $line-color;
      margin-top: 10px;
    }

  }

  .job-details {
    margin-left: 12px;

    span {
      font-size: $font-size-small;
      font-weight: 600;
      color: $text-light-color;
    }

    h3 {
      font-size: $font-size-base;
      font-weight: 700;
      color: $ternary;
      margin-top: 8px;
    }

    h6 {
      font-size: $font-size-small;
      line-height: normal;
      color: $text-color;
    }

    ul {
      padding-inline-start: 15px;
      margin-block-start: 0.8em;
      margin-block-end: 1.75em;
      list-style: disc $text-color;

      li {
        font-size: $font-size-normal;
        color: $text-color;
      }
    }
  }
}