@import "../../../styles/variables.scss";

.project-card-container {

  h3 {
    margin-top: 20px;
    font-size: $font-size-base;
    color: $ternary;
  }

  p {
    margin: 20px 0 15px 0;
  }

  ul {
    padding-inline-start: 20px;

    li {}
  }

  .stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;

    div {
      background-color: #fff;
      border-radius: 30px;
      padding: 6px 12px;
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 14px;
      }

      span {
        font-size: $font-size-small;
        font-weight: bold;
        color: $text-color;
      }
    }

    div.angularBtn {
      background: linear-gradient(20deg, #e400353d, #ff31d956);
    }

    div.tailwindBtn {
      background: #2299bd5e;
    }
  }
}

.images-container {
  margin-top: 24px;
  display: block;
  height: 250px;
  width: 100%;
}

.buttons-container-desktop {
  display: none;
}

.buttons-container-mobile {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .images-container {
    height: 400px;
  }

  .project-card-container h3 {
    margin-top: 0px;
  }

  .project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .buttons-container-desktop {
    display: flex;
  }

  .buttons-container-mobile {
    display: none;
  }
}