<div class="project-card-container">
  <div class="project-header">
    <h3>{{projectInfo.name}}</h3>
    <div class="buttons-container-desktop">
      <app-project-links-btn [links]="projectInfo.links"></app-project-links-btn>
    </div>
  </div>
  <ng-container *ngIf="projectInfo.description != ''">
    <p>{{projectInfo.description}}</p>
  </ng-container>
  <ul *ngIf="projectInfo.keyPoints[0] != ''">
    <ng-container *ngFor="let project of projectInfo.keyPoints">
      <li>{{project}}</li>
    </ng-container>
  </ul>
  <div class="stack">
    <ng-container *ngFor="let stack of projectInfo.stack">
      <div [ngClass]="stack.styles">
        <img [src]="'../../../assets/images/' + stack.images" [alt]="stack.name"
          [srcset]="'../../../assets/images/' + stack.images" />
        <span>{{stack.name}}</span>
      </div>
    </ng-container>
  </div>
  <div class="images-container">
    <app-project-card-carousel [slides]="projectInfo.images"></app-project-card-carousel>
  </div>
  <div class="buttons-container-mobile">
    <app-project-links-btn [links]="projectInfo.links"></app-project-links-btn>
  </div>
</div>